@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: auto;
}

.task-list-item::before {
  @apply hidden;
}

.task-list-item {
  @apply list-none;
}

.footnotes {
  @apply pt-8 mt-12 border-t border-gray-200 dark:border-gray-700;
}

.csl-entry {
  @apply my-5;
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

.alfa-slab-one-regular {
  font-family: "Alfa Slab One", serif;
  font-weight: 400;
  font-style: normal;
}

.bg-gradient-custom {
  background-size: 700% 400%;
  background-position: 0% 0%,0% 0%,0% 0%,0% 0%,0% 0%;
  background-image: repeating-linear-gradient(315deg, #3400472E 92%, #073AFF00 100%),repeating-radial-gradient(75% 75% at 238% 218%, #FF00F512 30%, #7E004E14 39%),radial-gradient(99% 99% at 109% 2%, #32004C 0%, #073AFF00 100%),radial-gradient(99% 99% at 21% 78%, #6a4bc1 0%, #073AFF00 100%),radial-gradient(160% 154% at 711px -303px, #7057c6 0%, #765cc8 100%)
}
